@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    font-family: 'TheJamsil5Bold';
    margin: 0;
    padding: 0;
}
header{
    display: block;
}
#profile{
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    border-right: 1px solid lightgray;
}
.fixed{
    padding: 10% 5%;
}
.img{
    position: absolute;
    top: 20%;
    left: 12%;
}
.img img{
    width: auto;
    height: 15vw;
}
.text{
    position: absolute;
    top: 55%;
    left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
    text-align: center;
}
#area1, #area2, #area3{
    padding-left: 25%;
    width: 75%;
    height: 100%;
}
.info h1{
    padding: 50px;
    font-size: 2em;
    margin: 0;
}